<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="img/icon.png" />
    <link rel="icon" href="img/icon.png" />
    <link rel="bookmark icon" href="img/icon.png" />
    <script type="text/javascript" src="js/script.js" ></script>
    <title>Awesome Game</title>
</head>

<body>
    <div th:include="fragments/header :: headerAll"></div>

    <div th:include="fragments/login :: loginPopUp"></div>
    <div id="divutz">


    </div>
    <div th:include="fragments/footer :: footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js" />
</body>
</html>
