<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="img/icon.png" />
    <link rel="icon" href="img/icon.png" />
    <link rel="bookmark icon" href="img/icon.png" />
    <script type="text/javascript" src="js/script.js" ></script>
    <title>Awesome Game</title>
</head>

<body onload="javascript: f.computeProgressBarPercentage()">
    <div th:include="fragments/header :: headerAll"></div>

    <div th:include="fragments/login :: loginPopUp"></div>
    <div id="divutz">
        <div style="width: 90%; margin-left: 5%; height: 180px;">
        <div id="moveHeroOnMap" class="moveHeroForm">
            <div class="demMoveUpButton">
                <div class="moveItButton">
                </div>
                <div class="moveItButton">
                    <button type="button" id="buttonMoveUp" class="btn btn-default" style="width: auto; height: auto; padding: 15px;"><span style="font-size: 20;" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                </div>
                <div class="moveItButton">
                </div>
            </div>
            <div class="demMoveDownSidesButtons">
                <div class="moveItButton">
                    <button type="button" id="buttonMoveLeft" class="btn btn-default" style="width: auto; height: auto; padding: 15px;"><span style="font-size: 20;" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                </div>
                <div class="moveItButton">
                    <button type="button" id="buttonMoveDown" class="btn btn-default" style="width: auto; height: auto; padding: 15px;"><span style="font-size: 20;" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                </div>
                <div class="moveItButton">
                    <button type="button" id="buttonMoveRight" class="btn btn-default" style="width: auto; height: auto; padding: 15px;"><span style="font-size: 20;" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
            <div class="displayHeroOnPlay">
                <div id="displayHeroStatsOnPlay">
                    <div class="progress" style="width: 90%; margin-left: 5%; margin-top: 5%; position: relative;">
                        <div class="progress-bar progress-bar-danger disable-animation" role="progress-bar" id="currentHealthBar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        </div>
                        <p style="color: black; position: absolute; left: 0; right: 0; top: 0; text-align: center;"><b><label th:text="'Health (' + ${thisHero.health} + '/' + ${thisHero.maxHealth} + ')'" id="currentHealth">Health(80/100)</label></b></p>
                    </div>
                    <div class="progress" style="width: 90%; margin-left: 5%; margin-top: -3%; position: relative;">
                        <div class="progress-bar disable-animation" role="progress-bar" aria-valuenow="70" id="currentExperienceBar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        </div>
                        <p style="color: black; position: absolute; left: 0; right: 0; top: 0; text-align: center;"><b><label th:text="'Level ' + ${thisHero.level} + ' (' + ${thisHero.experience} + '%)'" id="currentExperience">Level 1 (70%)</label></b></p>
                    </div>
                    <div id="displayDmgAndDef">
                        <div id="displayDamage" style="float: left; margin-left: 5%; display: inline-block;">
                            <img src="img/damage-icon.png" style="height: 100%;" title="Damage"/>
                            <label th:text="${thisHero.damage}" id="currentDamage">15</label>
                        </div>
                        <div id="displayDefense" style="display: inline-block; margin-left: 15%;">
                            <img src="img/defense-icon.png" style="height: 100%;" title="Defense" />
                            <label th:text="${thisHero.defense}" id="currentDefense">0</label>
                        </div>
                    </div>
                </div>
                <div id="displayHeroNameOnPlay">
                    <label th:text="${thisHero.name} + ' the ' + ${thisHero.type}" style="margin-left: 10%;">Hero the type</label>
                    <img src="img/duck.gif" style="width: 70%; margin-left: 15%; margin-top: 10%;"/>
                </div>
            </div>
        </div>
        <div style="width: 90%; margin-left: 50%; transform: translate(-50%, 0); margin-top: 30px;">
            <table class="table" id="mapPlayTable">
                <tr th:each="i : ${map}">
                    <td th:each="j : ${i}"
                        th:text="${j}"
                        th:class="'theClass' + ${j}"></td>
                </tr>
            </table>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="fightTheMonster" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form action="#" th:action="@{/createHero}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">You've encountered a Monster</h4>
                    </div>
                    <div class="modal-body">
                        <label id="fightTheMonsterLabel">Name</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Create Hero</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div th:include="fragments/footer :: footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</body>
</html>
