<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="shortcut icon" href="img/icon.png" />
	<link rel="icon" href="img/icon.png" />
	<link rel="bookmark icon" href="img/icon.png" />
	<script type="text/javascript" src="js/script.js" ></script>
	<title>Awesome Game</title>
</head>

<body>
	<div th:include="fragments/header :: headerAll"></div>

	<div th:include="fragments/login :: loginPopUp"></div>

	<div id="divutz">
		<div style="text-align: center;"><h1>Register and shit</h1></div> <br />

		<div style="width: 100%; height: auto; left: 100px;">

		<form action="#" th:action="@{/register}" th:object="${user}" method="post">

			<div class="col-lg-6">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" th:field="*{name}"/>
					<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" th:field="*{email}" type="email"/>
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input class="form-control" th:field="*{password}" type="password"/>
					<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label>
				</div>
				<div class="form-group">
					<label>Confirm password</label>
					<input class="form-control" th:field="*{confirmPassword}" type="password"/>
					<div th:if="${#fields.hasErrors('global')}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
					</div>
				</div>
				<button type="submit" value="Submit" class="btn btn-danger">Submit</button>
			</div>
		</form>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js" />
</body>
</html>
