<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="shortcut icon" href="img/icon.png" />
	<link rel="icon" href="img/icon.png" />
	<link rel="bookmark icon" href="img/icon.png" />
	<script type="text/javascript" src="js/script.js" ></script>
	<title>Awesome Game</title>
</head>

<body>
	<div th:include="fragments/header :: headerAll"></div>

	<div th:include="fragments/login :: loginPopUp"></div>
	<div id="divutz">
		<div style="text-align: center;"><h2>Select your Hero</h2></div> <br />
		<div style="width: 80%; margin-left: 10%; margin-top: 30px;">
			<form class="form-group">
				<select class="form-control" id="selectHero" name="selectHero" multiple="multiple">
					<option th:each="hero : ${heroes}"
							th:value="${hero.id}"
							th:text="${hero.name} + ' the ' + ${hero.type}">Hero Name</option>
				</select> <br />
				<div class="container">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Create new Hero</button>
				</div>
			</form>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<form action="/createHero" th:action="@{/createHero}" id="createFuckingHero" th:object="${hero}" method="post">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create a new Hero</h4>
					</div>
					<div class="modal-body">
						<label for="thisName">Name</label>
						<input type="text" th:field="*{heroName}" class="form-control" id="thisName" name="Heroname"/> <br/>
						<label for="thisType">Type</label>
						<select class="form-control" th:field="*{type}" id="thisType" name="type">
							<option th:each="typee : ${heroType}"
									th:value="${typee}"
									th:text="${typee}">Hero Type</option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="submit" for="createFuckingHero" class="btn btn-default">Create Hero</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>

	</div>


	<div th:include="fragments/footer :: footer"></div>
</body>
</html>
